<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>

<body>
    <!-- <nav th:replace="fragments/header :: header"/> -->

    <div class="container-fluid">
        <div class="panel panel-default">
    	    <div class="panel-heading">
    	    	<table border="0" width="100%">
    	    		<tr><td width="10%"><img src="../static/images/JBS_Transparent.png" th:src="@{'/images/JBS_Transparent.png'}" class="img-thumbnail" width="100" height="200"/></td><td align="center"><h3 class="panel-title"><b>Suitable Duties</b></h3></td>
    	    		<td width="20%">                
    	    		<form class="form-inline" style="margin-top: 1px">
                    <div class="form-group">
                        <label>Search:</label>
                        <input type="text" class="form-control" style="width: 50%"/>
                        <span class="form-control glyphicon glyphicon-search input-sm borderless"/>
                    </div>
                </form>
                </td></tr>
    	    	</table>
            </div>
            <div class="panel-body body-background">
                <div class="col-md-12">
                        <div class="table-responsive">
							<table class="table table-bordered table-condensed table-hover">
                                <thead>
                                <tr class="success">
                                    <td class="text-center text-white">Employee ID</td>
                                    <td class="text-center text-white">Employee Name</td>
                                    <td class="text-center text-white">Start Date</td>
                                    <td class="text-center text-white">End Date</td>
                                    <td class="text-center text-white">Event</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="info">
                                    <td class="text-left success">12345678</td>
                                    <td class="text-left success">John Black</td>
                                    <td class="text-left success">01/01/2017</td>
                                    <td class="text-left success">31/05/2017</td>
                                    <td class="text-center success"><a href="#">&lt;8234923&gt;</a></td>
                                </tr>
                                <tr class="info">
                                    <td class="text-left success">87654321</td>
                                    <td class="text-left success">Sarah Johnson</td>
                                    <td class="text-left success">31/01/2017</td>
                                    <td class="text-left success">15/06/2017</td>
                                    <td class="text-center success"><a href="#">&lt;0283927&gt;</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <button type="button" class="btn btn-info" onclick="self.close()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"/>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD MMM YYYY'
            });
            $('#datetimepicker2').datetimepicker({
                format: 'DD MMM YYYY'
            });
            $('#datetimepicker3').datetimepicker({
                format: 'DD MMM YYYY'
            });
            $('#datetimepicker4').datetimepicker({
                format: 'DD MMM YYYY'
            });
            $('#datetimepicker5').datetimepicker({
                format: 'DD MMM YYYY'
            });
            $('#datetimepicker6').datetimepicker({
                format: 'DD MMM YYYY'
            });
        });
    </script>
</body>
</html>