<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>

<body>
    <!-- <nav th:replace="fragments/header :: header"/>-->

    <div class="container-fluid">
        <div class="panel panel-default">
    	    <div class="panel-heading">
    	    	<table border="0" width="100%">
    	    		<tr><td width="10%"><img src="../static/images/JBS_Transparent.png" th:src="@{'/images/JBS_Transparent.png'}" class="img-thumbnail" width="100" height="200"/></td><td align="center"><h3 class="panel-title"><b>Add Event</b></h3></td>
    	    		<td width="20%">                
    	    		<form class="form-inline" style="margin-top: 1px">
                    <div class="form-group">
                        <label>Search:</label>
                        <input type="text" class="form-control" style="width: 50%"/>
                        <span class="form-control glyphicon glyphicon-search input-sm borderless"/>
                    </div>
                </form>
                </td></tr>
    	    	</table>
            </div>            
            <div class="panel-body body-background">
            
               <div class="row">
                    <div class="col-md-2">
                        <label>Name : Joe Blog</label>
                    </div>
                    <div class="col-md-2">
                        <label>Employee ID : 123456</label>
                    </div>
                    <div class="col-md-2">
                        <label>Department : Finace</label>
                    </div>
                    <div class="col-md-2">
                        <label>Department : Finace</label>
                    </div>
                    <div class="col-md-4">

				<div class="well" style="font-size:14px;background-color: #c3dbef !important; border-color: #2aabd2; color: white">
				<div class="row text-center">
					<label style="color: black"><u>Quick Links</u></label>
				</div>
				<div class="row text-left">
					<div class="col-md-6">
						<label style="color: black">&bull;</label> <a href="#" style="color: black">Add Leave</a>
					</div>
					<div class="col-md-6">
						<label style="color: black">&bull;</label> <a href="#" style="color: black">Event Report</a>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-md-6">
						<label style="color: black">&bull;</label> <a href="#" th:href="@{/event}" style="color: black">Add Event</a>
					</div>
					<div class="col-md-6">
						<label style="color: black">&bull;</label> <a href="#" style="color: black">PM Report</a>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-md-6">
						<label style="color: black">&bull;</label> <a href="#" th:href="@{/performance}" style="color: black">Add PM</a>
					</div>
					<div class="col-md-6">
						<label style="color: black">&bull;</label> <a href="#" style="color: black">Employee Central</a>
					</div>
				</div>
				<div class="row text-left">
					&nbsp;
				</div>
				<!-- <div style="margin-left: -40px">
				<table class="table table-condensed">
					<tr>
						<td class="borderless">
							<ul>
							<li><a href="#" style="color: black">Add Leae</a></li>
							<li><a href="#" th:href="@{/event}" style="color: black">Add Event</a></li>
							<li><a href="#" th:href="@{/performance}" style="color: black">Add PM</a></li>
							</ul>
						</td>
						<td class="borderless">
							<ul>
							<li><a href="#" style="color: black">Event Report</a></li>
							<li><a href="#" style="color: black">PM Report</a></li>
							<li><a href="#" style="color: black">Employee Central</a></li>
							</ul>
						</td>
					</tr>
				</table>
				</div>-->
			</div>


                    </div>
                </div>    
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background" style="padding-left: 0px">Category :</label>
                            <select class="form-control">
                                <option value="">Attendance</option>
                                <option value="">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background">Event :</label>
                            <select class="form-control">
								<option value=""></option>
                                <option value="">Absent Call In</option>
                                <option value="">Absent</option>
                                <option value="">Authorised Absence</option>
                                <option value="">Leave of Absence</option>
                                <option value="">Missed Swipe</option>
                                <option value="">Stood Down</option>
                                <option value="">Started Late</option>
                                <option value="">Unauthorised Absence</option>
                                <option value="">Went Home</option>
                                <option value="">Compassionate Leave</option>
                                <option value="">Annual Leave</option>
                                <option value="">Leave Maternity</option>
                                <option value="">Leave Paternity</option>
                                <option value="">Long Service Leave</option>
                                <option value="">Personal/Carer's Leave - with cert</option>
                                <option value="">Personal/Carer's Leave - without cert</option>
                                <option value="">Lost Card</option>
                                <option value="">Breathalyser Test - All Clear (Less than 0.05%)</option>
                                <option value="">Breathalyser Test - Positive (0.05% or greater)</option>
                                <option value="">Drug Test - All Clear</option>
                                <option value="">Drug Test - Confirmed Positive</option>
                                <option value="">Drug Test - Non Negative</option>
                                <option value="">Medical Certificate</option>
                                <option value="">Suitable Duties in the Team</option>
                                <option value="">Suitable Duties Above the Team</option>
                                <option value="">Grievance</option>
                                <option value="">File Note</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background">Status :</label>
                            <select class="form-control">
                                <option value="">Resolved</option>
                                <option value="">Unresolved</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-4">
                        <div class="input-group" style="width: 100%">
                            <label class="input-group-addon borderless no-background" style="padding-left: 0px">Start Date :</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group" style="width: 100%">
                            <label class="input-group-addon borderless no-background">End Date :</label>
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group" style="width: 100%">
                            <label class="input-group-addon borderless no-background">Time :</label>
                            <div class='input-group date' id='datetimepicker3'>
                                <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>Comments:</label>
                            <textarea class="form-control" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="input-group-addon borderless no-background">EAP :</label>
                                    <select class="form-control">
                                        <option value="">Not Applicable</option>
                                        <option value="">Yes, Referred</option>
                                        <option value="">Yes, JBS EAP</option>
                                        <option value="">No, Declined</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="input-group-addon borderless no-background">EAP Comments:</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Requested Documentation :</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="checkbox">
                            <label><input type="checkbox" value=""/>MC</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label><input type="checkbox" value=""/>Specialist Clearance</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label><input type="checkbox" value=""/>Start Declaration</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label><input type="checkbox" value=""/>Receipt</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label><input type="checkbox" value=""/>Funeral Notice</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label><input type="checkbox" value=""/>Penalty Notice</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="checkbox">
                            <label><input type="checkbox" value=""/>Other</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background" style="padding-left: 0px">Attachment Type :</label>
                            <select class="form-control">
                                <option value="">Medical Certificate</option>
                                <option value="">Stat Declaration</option>
                                <option value="">Receipt</option>
                                <option value="">Funeral Notice</option>
                                <option value="">Penalty</option>
                                <option value="">Notice</option>
                                <option value="">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse&hellip; <input type="file" style="display: none;" multiple="true"/>
                                </span>
                            </label>
                            <input type="text" class="form-control" readonly="true"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="well" style="background-color: #dca7a7 !important; border-color: #c9302c; color: white">
                            <div class="row text-center">
                                <label> UA(4)  |  AB(3)  |  PC(3)  |  PCN(2) </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2  col-md-offset-4">
                        <button type="button" class="btn btn-info">Save</button>
                    </div>
                    <div class="col-md-2">
                        <a href="#" th:href="@{/}"><button type="button" class="btn btn-info">Close</button></a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>
                            <a href="#"><u>&lt;Event History&gt;</u></a>
                        </label>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background" style="padding-left: 0px">Event :</label>
                            <select class="form-control">
                                <option value="">Absent Call In</option>
                                <option value="">Absent</option>
                                <option value="">Authorised Absence</option>
                                <option value="">Leave of Absence</option>
                                <option value="">Missed Swipe</option>
                                <option value="">Stood Down</option>
                                <option value="">Started Late</option>
                                <option value="">Unauthorised Absence</option>
                                <option value="">Went Home</option>
                                <option value="">Compassionate Leave</option>
                                <option value="">Annual Leave</option>
                                <option value="">Leave Maternity</option>
                                <option value="">Leave Paternity</option>
                                <option value="">Long Service Leave</option>
                                <option value="">Personal/Carer's Leave - with cert</option>
                                <option value="">Personal/Carer's Leave - without cert</option>
                                <option value="">Lost Card</option>
                                <option value="">Breathalyser Test - All Clear (Less than 0.05%)</option>
                                <option value="">Breathalyser Test - Positive (0.05% or greater)</option>
                                <option value="">Drug Test - All Clear</option>
                                <option value="">Drug Test - Confirmed Positive</option>
                                <option value="">Drug Test - Non Negative</option>
                                <option value="">Medical Certificate</option>
                                <option value="">Suitable Duties in the Team</option>
                                <option value="">Suitable Duties Above the Team</option>
                                <option value="">Grievance</option>
                                <option value="">File Note</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background" >Start :</label>
                            <div class='input-group date' id='datetimepicker4'>
                                <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background" >End :</label>
                            <div class='input-group date' id='datetimepicker5'>
                                <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control">
                            <option value="">Months</option>
                            <option value="">3 Months</option>
                            <option value="">6 Months</option>
                            <option value="">9 Months</option>
                            <option value="">12 Months</option>
                            <option value="">18 Months</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed table-hover">
                                <thead>
                                <tr class="success">
                                    <td class="text-center text-white">Date &amp; Time</td>
                                    <td class="text-center text-white">Event ID</td>
                                    <td class="text-center text-white">Event</td>
                                    <td class="text-center text-white">Status</td>
                                    <td class="text-center text-white">Start Date</td>
                                    <td class="text-center text-white">End Date</td>
                                    <td class="text-center text-white">Comments</td>
                                    <td class="text-center text-white">By</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="info">
                                    <td class="text-center success">4 feb 2017 16&#58;10PM</td>
                                    <td class="text-center success">7678</td>
                                    <td class="text-center success">Absent (AB)</td>
                                    <td class="text-center success">Resolved</td>
                                    <td class="text-center success">1 feb 2017</td>
                                    <td class="text-center success">4 feb 2017</td>
                                    <td class="text-center success">Did not present documents</td>
                                    <td class="text-center success">Yong Hull Lee</td>
                                </tr>
                                <tr class="info">
                                    <td class="text-center success">1 feb 2017 13&#58;10PM</td>
                                    <td class="text-center success">7679</td>
                                    <td class="text-center success">Called In Absent (AC)</td>
                                    <td class="text-center success">open</td>
                                    <td class="text-center success">1 feb 2017</td>
                                    <td class="text-center success">4 feb 2017</td>
                                    <td class="text-center success">Called in Absent. Sickwith fever</td>
                                    <td class="text-center success">Sarah Wong</td>
                                </tr>
                                <tr class="info">
                                    <td class="text-center success">&nbsp;</td>
                                    <td class="text-center success"></td>
                                    <td class="text-center success"></td>
                                    <td class="text-center success"></td>
                                    <td class="text-center success"></td>
                                    <td class="text-center success"></td>
                                    <td class="text-center success"></td>
                                    <td class="text-center success"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"/>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD MMM YYYY'
            });
            $('#datetimepicker2').datetimepicker({
                format: 'DD MMM YYYY'
            });
            $('#datetimepicker3').datetimepicker({
                format: 'LT'
            });
            $('#datetimepicker4').datetimepicker({
                format: 'DD MMM YYYY'
            });
            $('#datetimepicker5').datetimepicker({
                format: 'DD MMM YYYY'
            });
        });

        $(function() {
            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
                var input = $(this),
                        numFiles = input.get(0).files ? input.get(0).files.length : 1,
                        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready( function() {
                $(':file').on('fileselect', function(event, numFiles, label) {
                    var input = $(this).parents('.input-group').find(':text'),
                            log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if( input.length ) {
                        input.val(log);
                    } else {
                        if( log ) alert(log);
                    }
                });
            });

        });
    </script>
</body>
</html>