<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>

<body>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="../static/images/JBS_Transparent.png" th:src="@{'/images/JBS_Transparent.png'}" class="img-thumbnail" width="100" height="200"/>
                            </div>
                            <div class="col-md-10" style="margin-top: 10px;">
                                <h2 class="panel-title"><label th:text="${eventDto.getHeadTitle()}"></label></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <b>Name:</b>
                                <label class="normal" th:text="${employee.fullName}"/>
                            </div>
                            <div class="col-md-6">
                                <b>Employee ID:</b>
                                <label class="normal" th:text="${employee.userId}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <b>Site:</b>
                                <label class="normal" th:text="${employee.plantName}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" th:if="${!eventDto.isAuditVersion()}">
                        <div class="well" style="font-size:14px;background-color: #c3dbef !important; border-color: #2aabd2; color: white;margin-bottom: 5px;margin-top: -5px">
                            <div class="row text-center" style="margin-top: -15px">
                                <label style="color: black"><u>Quick Links</u></label>
                            </div>
                            <div class="row text-left">
                                <div class="col-md-6">
                                    <label style="color: black">&bull;</label> <a href="#" style="color: black">Add PM Event</a>
                                </div>
                                <div class="col-md-6">
                                    <label style="color: black">&bull;</label> <a href="#" style="color: black">Add Leave (Kronos)</a>
                                </div>
                            </div>
                            <div class="row text-left">
                                <div class="col-md-6">
                                    <label style="color: black">&bull;</label> <a href="#" style="color: black">View Employee Summary</a>
                                </div>
                                <div class="col-md-6">
                                    <label style="color: black">&bull;</label> <a href="#" style="color: black">View Employee Record (EC)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" th:if="${!eventDto.isAuditVersion()}">
                        <form class="form-inline" style="margin-top: 1px">
                            <label>Search:</label>
                            <div class="form-group">
                                <input id="searchNameId" type="text" class="form-control" style="width: 140px;"/>
                                <span class="form-control glyphicon glyphicon-search input-sm borderless"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <form action="#" th:action="${eventDto.isUpdate()} ?
                @{'/employee/' + ${employee.id} + '/event/update/' + ${eventDto.id}} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token} :
                @{'/employee/' + ${employee.id} + '/event/create'} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token} " th:object="${eventDto}"
                  method="post" enctype="multipart/form-data">

                <input id="removedAttachmentsId" th:type="hidden" th:field="*{removedAttachments}"/>
                <input th:type="hidden" th:field="*{id}"/>
                <input th:type="hidden" th:field="*{totalAttachmentsPersisted}"/>

                <div class="panel-body body-background">
                    <div class="row">
                        <div class="col-md-12">
                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                <p>Please correct values in error below: </p>
                                <ul>
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px">
                        <div class="col-md-4">
                            <div class="input-group" th:class="${#fields.hasErrors('categoryId')} ? 'input-group has-error' : 'input-group'">
                                <label class="input-group-addon borderless no-background" style="padding-left: 0px"><label style="color: red">*</label> Category:</label>
                                <select id="categoryId" class="form-control" th:field="*{categoryId}" th:disabled="${eventDto.isAuditVersion()}">
                                    <option value="">-- Please Select --</option>
                                    <option th:each="category : ${listCategory}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group" th:class="${#fields.hasErrors('eventTypeId')} ? 'input-group has-error' : 'input-group'">
                                <label class="input-group-addon borderless no-background"><label style="color: red">*</label> Event:</label>
                                <select id="eventTypeId" class="form-control" th:field="*{eventTypeId}" th:disabled="${eventDto.isAuditVersion()}">
                                    <option value="">-- Please Select --</option>
                                    <option th:each="type : ${listEventType}" th:value="${type.id}" th:text="${type.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group" th:class="${#fields.hasErrors('eventStatusId')} ? 'input-group has-error' : 'input-group'">
                                <label class="input-group-addon borderless no-background"><label style="color: red">*</label> Status:</label>
                                <select class="form-control" th:field="*{eventStatusId}" th:disabled="${eventDto.isAuditVersion()}">
                                    <option th:each="status : ${listEventStatus}" th:value="${status.id}" th:text="${status.value}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px">
                        <div class="col-md-4">
                            <div class="input-group" style="width: 100%" th:class="${#fields.hasErrors('startDate')} ? 'input-group has-error' : 'input-group'">
                                <label class="input-group-addon borderless no-background "><label style="color: red">*</label> Start Date:</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" th:field="*{startDate}" th:disabled="${eventDto.isAuditVersion()}"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group" style="width: 100%" th:class="${#fields.hasErrors('endDate')} ? 'input-group has-error' : 'input-group'">
                                <label class="input-group-addon borderless no-background"><label style="color: red">*</label> End Date:</label>
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' class="form-control" th:field="*{endDate}" th:disabled="${eventDto.isAuditVersion()}"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group" style="width: 100%" th:class="${#fields.hasErrors('startTime')} ? 'input-group has-error' : 'input-group'">
                                <label class="input-group-addon borderless no-background "><label style="color: red">*</label> Time:</label>
                                <div class='input-group date' id='datetimepicker3'>
                                    <input type='text' class="form-control" th:field="*{startTime}" th:disabled="${eventDto.isAuditVersion()}"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group" th:class="${#fields.hasErrors('comment')} ? 'form-group has-error' : 'form-group'">
                                <label class="normal"><label style="color: red">*</label> Comments:</label>
                                <textarea class="form-control" rows="6" th:field="*{comment}" th:disabled="${eventDto.isAuditVersion()}"></textarea>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-md-8 col-md-offset-4">
                                    <div class="input-group" th:class="${#fields.hasErrors('eapId')} ? 'input-group has-error' : 'input-group'">
                                        <label class="input-group-addon borderless no-background"><label style="color: red">*</label> EAP:</label>
                                        <select class="form-control" th:field="*{eapId}" th:disabled="${eventDto.isAuditVersion()}">
                                            <option th:each="eap : ${listEap}" th:value="${eap.id}" th:text="${eap.value}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" th:class="${#fields.hasErrors('eapComment')} ? 'form-group has-error' : 'form-group'">
                                        <label class="normal"><label style="color: red">*</label> EAP Comments:</label>
                                        <textarea class="form-control" rows="3" th:field="*{eapComment}" th:disabled="${eventDto.isAuditVersion()}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Requested Documentation :</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{isMedicalCertificate}" th:disabled="${eventDto.isAuditVersion()}"/>MC</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{isSpecialistClearance}" th:disabled="${eventDto.isAuditVersion()}"/>Specialist Clearance</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{isStatDeclaration}" th:disabled="${eventDto.isAuditVersion()}"/>Start Declaration</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{isReceipt}" th:disabled="${eventDto.isAuditVersion()}"/>Receipt</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{isFuneralNotice}" th:disabled="${eventDto.isAuditVersion()}"/>Funeral Notice</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{isPenaltyNotice}" th:disabled="${eventDto.isAuditVersion()}"/>Penalty Notice</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{isOther}" th:disabled="${eventDto.isAuditVersion()}"/>Other</label>
                            </div>
                        </div>
                    </div>
                    <div id="attachmentGroupId" th:if="${!eventDto.isAuditVersion()}">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label class="input-group-addon borderless no-background" style="padding-left: 0px">Attachment Type :</label>
                                    <select class="form-control" th:field="*{attachmentTypeIds}">
                                        <option th:each="attachmentType : ${listAttachmentType}" th:value="${attachmentType.id}" th:text="${attachmentType.value}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse&hellip; <input type="file" th:field="*{files}" style="display: none;" multiple="true" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly="true"/>
                                    <a href="#" class="input-group-btn">
                                        <button type="button" class="btn btn-info clearAttachmentFile">Clear</button>
                                    </a>
                                </div>
                            </div>
                            <div id="newAttachmentId" class="col-md-2">
                                <button type="button" class="btn btn-info" onclick="javascript:addedNewAttachment()">New Attachment</button>
                            </div>
                        </div>
                    </div>
                    <div th:id="'attachment'+${attachment.value.id}" class="row" th:each="attachment : ${eventDto.getAttachments()}">
                        <div class="col-md-8">
                            <div class="input-group" style="margin-top: 15px" >
                                <b class="input-group-addon borderless no-background"><label th:text="${attachment.key.value} + ': '"></label></b>
                                <a style="text-align: left; margin-right: 10px;" href="#" th:href="@{/performance/download_attachment/} + ${attachment.value.id}" th:target="_blank" th:text="${attachment.value.documentName}"></a>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#removedAttachmentModalId" style="width: 35px;" th:if="${!eventDto.isAuditVersion()}" th:onclick="'javascript:onloadRemovedAttachmentModal(' + ${attachment.value.id} +  ')'">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px" th:if="${!eventDto.isAuditVersion()}">
                        <div class="col-md-4">
                            <div class="well" style="background-color: #dca7a7 !important; border-color: #c9302c; color: white">
                                <div class="row text-center">
                                    <label th:text="${eventSummary}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-4">
                            <button type="button" class="btn btn-info" onclick="self.close()">Close</button>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-info" th:if="${!eventDto.isAuditVersion()}">Save</button>
                        </div>
                    </div>
                    <div class="row" th:if="${eventDto.isAuditVersion()}" style="margin-top: 20px">
                        <div class="col-md-2 col-md-offset-10">
                            <button type="button" class="btn btn-info" onclick="self.close()">Close</button>
                        </div>
                    </div>
                    <div class="row" th:if="${!eventDto.isAuditVersion()}">
                        <div class="col-md-12">
                            <label>
                                <a id="eventHistoryHead"><u>&lt;Event History&gt;</u></a>
                            </label>
                        </div>
                    </div>
                    <div id="eventHistoryBody" th:if="${!eventDto.isAuditVersion()}">
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label class="input-group-addon borderless no-background" style="padding-left: 0px">Event :</label>
                                    <select id="historyEventTypeId" class="form-control">
                                        <option value="">-- Please Select --</option>
                                        <option th:each="type : ${listEventTypeBasedHistory}" th:value="${type.id}" th:text="${type.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="input-group-addon borderless no-background">Start :</label>
                                    <div class='input-group date'>
                                        <input id='historyStartDatePicker' type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="input-group-addon borderless no-background">End :</label>
                                    <div class='input-group date'>
                                        <input id='historyEndDatePicker' type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <select id="historyMonthId" class="form-control">
                                    <option value="">Months</option>
                                    <option value="3">3 Months</option>
                                    <option value="6">6 Months</option>
                                    <option value="9">9 Months</option>
                                    <option value="12">12 Months</option>
                                    <option value="18">18 Months</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="historyTable" class="table table-bordered table-condensed table-hover">
                                        <thead>
                                        <tr class="success">
                                            <td class="text-center">Event ID</td>
                                            <td class="text-center">Event</td>
                                            <td class="text-center">Status</td>
                                            <td class="text-center">Start Date</td>
                                            <td class="text-center">End Date</td>
                                            <td class="text-center">Time</td>
                                            <td class="text-center">Last Modified Date</td>
                                            <td class="text-center">Last Modified By</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" th:if="${!eventDto.isAuditVersion() && eventDto.isUpdate()}">
                        <div class="col-md-12">
                            <label>
                                <a id="eventAuditHead"><u>&lt;Audit&gt;</u></a>
                            </label>
                        </div>
                    </div>
                    <div id="eventAuditBody" th:if="${!eventDto.isAuditVersion() && eventDto.isUpdate()}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="auditTable" class="table table-bordered table-condensed table-hover">
                                        <thead>
                                        <tr class="success">
                                            <td class="text-center">#</td>
                                            <td class="text-center">Event ID</td>
                                            <td class="text-center">Event</td>
                                            <td class="text-center">Status</td>
                                            <td class="text-center">Start Date</td>
                                            <td class="text-center">End Date</td>
                                            <td class="text-center">Time</td>
                                            <td class="text-center">Last Modified Date</td>
                                            <td class="text-center">Last Modified By</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="removedAttachmentModalId" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">WARNING</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the file?</p>
                </div>
                <input type="hidden" id="attachmentHiddenId"/>
                <div class="modal-footer">
                    <div class="col-md-6">
                        <button id="attachmentModalYes" type="button" class="btn btn-info" data-dismiss="modal">Yes</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"/>

    <script th:inline="javascript">
        function onloadRemovedAttachmentModal(attachmentId){
            $("#attachmentModalYes").attr('onClick', 'javascript:removeAttachment('+ attachmentId+ ')');
        }

        function removeAttachment(attachmentId){
            var attachmentIds = [];

            var arrayIds = $("#removedAttachmentsId").val();
            if (arrayIds == "") {
                attachmentIds.push(attachmentId);
            } else {
                attachmentIds.push(arrayIds,attachmentId);
            }

            $("#removedAttachmentsId").val(attachmentIds);
            $("#attachment" + attachmentId).remove();
        }

        function addedNewAttachment(){
            var row = $("#attachmentGroupId .row:first").clone();
            row.find(":file").val(null);
            row.find(":text").val("");
            row.find("#newAttachmentId").remove();
            row.appendTo("#attachmentGroupId");
        }

        $(document).ready(function(){
            var _ctx = /*[[@{/}]]*/ 'context';
            var employeeId = [[${employee.id}]];
            var eventId = [[${eventDto.id}]];

            var auditTable = $('#auditTable').on('preXhr.dt', function(e,settings,data){}).DataTable({
                "ajax":         _ctx + "event/audit/" + eventId,
                "serverSide":   true,
                "processing": true,
                "pagingType":   "simple",
                "searching":    true,
                "lengthChange": false,
                "language": {
                    "info":         "",
                    "infoFiltered": "",
                    "infoEmpty":    "",
                    "infoPostFix":  "",
                    "processing": "<div class='loader'></div>"
                },
                "columnDefs": [{
                    "targets": [1,2,3,4,5,6,7,8],
                    "orderable": false
                }],
                "order": [ 0, 'desc' ],
                "columns": [
                    { "data": "#", render: function(data, type, row)
                        {
                            return row.counterNumber;
                        }
                    },
                    { "data": "id", render: function(data, type, row)
                        {
                            return '<a href="' + _ctx + 'event/'+ row.id + '/revision/' + row.revisionNumber +  '" target="_blank">' + row.id + '</a>';
                        }
                    },
                    { "data": "eventType.id", render: function(data, type, row)
                        {
                            return row.eventType.name + ' (' + row.eventType.code + ')';
                        }
                    },
                    { "data": "eventStatus.id", render: function(data, type, row)
                        {
                            return row.eventStatus.value;
                        }
                    },
                    { "data": "startDate" },
                    { "data": "endDate" },
                    { "data": "startTime" },
                    { "data": "lastUpdateAt", render: function (data)
                        {
                            var date = new Date(data);
                            return dateFormat(date, "dd mmm yyyy hh:MM TT");
                        }
                    },
                    { "data": "lastUpdateBy.fullName" }
                ],
                "rowCallback": function( row, data, index ) {
                    $(row).addClass('info text-center');
                }
            });


            var historyTable = $('#historyTable').on('preXhr.dt', function(e,settings,data){
                data.startDateFilter = $("#historyStartDatePicker").val();
                data.endDateFilter = $("#historyEndDatePicker").val();
                data.monthFilter = $("#historyMonthId").val();
            }).DataTable({
                "ajax":         _ctx + "event/history/" + employeeId,
                "serverSide":   true,
                "processing": true,
                "pagingType":   "simple",
                "searching":    true,
                "lengthChange": false,
                "language": {
                    "info":         "",
                    "infoFiltered": "",
                    "infoEmpty":    "",
                    "infoPostFix":  "",
                    "processing": "<div class='loader'></div>"
                },
                "columnDefs": [{
                    "targets": [5,6,7],
                    "orderable": false
                }],
                "order": [ 0, 'desc' ],
                "columns": [
                    { "data": "id", render: function(data, type, row)
                        {
                            return '<a href="' + _ctx + 'event/'+ row.id +'">' + row.id + '</a>';
                        }
                    },
                    { "data": "eventType.name", render: function(data, type, row)
                        {
                            return row.eventType.name + ' (' + row.eventType.code + ')';
                        }
                    },
                    { "data": "eventStatus.id", render: function(data, type, row)
                        {
                            return row.eventStatus.value;
                        }
                    },
                    { "data": "startDate" },
                    { "data": "endDate" },
                    { "data": "startTime" },
                    { "data": "lastUpdateAt", render: function (data)
                        {
                            var date = new Date(data);
                            return dateFormat(date, "dd mmm yyyy hh:MM TT");
                        }
                    },
                    { "data": "lastUpdateBy.fullName" }
                ],
                "rowCallback": function( row, data, index ) {
                    $(row).addClass('info text-center');
                }
            });

            $("#historyEventTypeId").change(function() {
                if ($("#historyEventTypeId").val() != "") {
                    historyTable.columns(1).search($("#historyEventTypeId").val()).draw();
                } else {
                    historyTable.columns(1).search("").draw();
                }
            });

            $('#categoryId').change( function() {
                $.getJSON(_ctx + 'event/types', {
                    categoryId : $(this).val(),
                    ajax : 'true'
                }, function(data) {
                    var html = '<option value="">-- Please Select --</option>';
                    var len = data.length;
                    for ( var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">'
                                + data[i].name + '</option>';
                    }
                    html += '</option>';

                    $('#eventTypeId').html(html);
                });
            });

            $('#datetimepicker1').datetimepicker({
                defaultDate: new Date(),
                format: 'DD MMM YYYY'
            });
            $('#datetimepicker2').datetimepicker({
                defaultDate: new Date(),
                format: 'DD MMM YYYY'
            });
            $('#datetimepicker3').datetimepicker({
                defaultDate: new Date(),
                format: 'LT'
            });

            $('#historyStartDatePicker').datetimepicker({
                format: 'DD MMM YYYY'
            }).on("dp.change", function (e) {
                $('#historyMonthId').val("");
                historyTable.draw();
            });

            $('#historyEndDatePicker').datetimepicker({
                format: 'DD MMM YYYY'
            }).on("dp.change", function (e) {
                $('#historyMonthId').val("");
                historyTable.draw();
            });

            $("#historyTable_paginate, #historyTable_filter, #auditTable_paginate, #auditTable_filter").hide();

            $("#historyMonthId").change(function() {
                $('#historyStartDatePicker, #historyEndDatePicker').val("");
                historyTable.draw();
            });

            $("#eventHistoryHead").click(function(){
                $("#eventHistoryBody").toggle("slide");
            });
            $("#eventAuditHead").click(function(){
                $("#eventAuditBody").toggle("slide");
            });
        });

        $(function() {
            $(document).on('change', ':file', function() {
                var input = $(this);
                numFiles = input.get(0).files ? input.get(0).files.length : 1;
                if (numFiles == 1) {
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                    var text = input.parents('.input-group').find(':text');
                    text.val(numFiles > 1 ? numFiles + ' files selected' : label);
                } else {
                    var row = input.parent().parent().parent();
                    row.find(":file").val(null);
                    row.find(":text").val("");
                    alert("Can select one(1) file only");
                }
            });

            $(document).on('click', '.clearAttachmentFile', function() {
                var row = $(this).parent().parent();
                row.find(":file").val(null);
                row.find(":text").val("");
            });
        });
    </script>
</body>
</html>