<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar navbar-default navbar-fixed-top" th:fragment="header">
        <div class="container">
            <div class="row">
                <div class="col-md-1 navbar-header">
                        <img src="../static/images/JBS_Transparent.png" th:src="@{'/images/JBS_Transparent.png'}" class="img-thumbnail" width="100" height="200"/>
                </div>
                  <div class="col-md-11 navbar-header">
                    <label class="navbar-brand">JBS Shift Summary Screen</label>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>