<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>

<body>
    <div class="container-fluid">
    	 <div class="panel panel-default">
    	    <div class="panel-heading">
    	    	<table border="0" width="100%">
    	    		<tr>
                        <td width="10%">
                            <img src="../static/images/JBS_Transparent.png" th:src="@{'/images/JBS_Transparent.png'}" class="img-thumbnail" width="100" height="200"/>
                        </td>
                        <td align="center">
                            <h3 class="panel-title">
                                <b>Shift Summary Screen</b>
                            </h3>
                        </td>
    	    		    <td width="20%">
                            <form class="form-inline" style="margin-top: 1px">
                                <div class="form-group">
                                    <label>Search:</label>
                                    <input id="searchNameId" type="text" class="form-control" style="width: 50%"/>
                                    <span class="form-control glyphicon glyphicon-search input-sm borderless"/>
                                </div>
                            </form>
                        </td>
                    </tr>
    	    	</table>
            </div>
            <div class="panel-body body-background">
                <table border="0" width="100%" style="border-spacing: 5px;border-collapse: separate;">
             	<tr>
             		<td>
             		    <div class="row">
                            <div class="col-md-3">
                                <label>
                                    Welcome HR Admin <br/>
                                    Date : 17 March 2017
                                </label>
                            </div>
                            <div class="col-md-3">
                                <select id="sectionId" class="form-control">
                                    <option value="">Please Select Section</option>
                                    <option th:each="section : ${listSection}" th:value="${section.id}" th:text="${section.name}"></option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="shiftId" class="form-control">
                                    <option value="">Please Select Shift</option>
                                    <option th:each="shift : ${listShift}" th:value="${shift.id}" th:text="${shift.name}"></option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <button id="clearFilterId" type="button" class="btn btn-link" style="margin-left: -10px">Clear Filters</button>
                            </div>
                         </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-left: 0px;">
                                <div class="col-md-12">
                                    <h4><b>HR Clearance</b></h4>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive"  style="font-size: 11px">
                                        <table id="hrClearanceTable" class="table table-bordered table-responsive table-condensed table-hover" style="margin-top: -20px !important;">
                                            <thead>
                                            <tr class="info">
                                                <td align="center"><b>No</b></td>
                                                <td align="center"><b>Name</b></td>
                                                <td align="center"><b>EE ID</b></td>
                                                <td align="center"><b>Position</b></td>
                                                <td align="center"><b>Department</b></td>
                                                <td align="center"><b>Event</b></td>
                                            </tr>
                                            </thead>
                                            <tbody style="font-size: 11px;">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 0px;">
                                <div class="col-md-12">
                                    <h4><b>Absent</b></h4>
                                </div>
                                <div class="col-md-12" >
                                    <div class="table-responsive"  style="font-size: 11px">
                                        <table id="absentTable" class="table table-bordered table-condensed table-hover" style="margin-top: -20px !important;">
                                            <thead>
                                            <tr class="info">
                                                <td align="center"><b>No</b></td>
                                                <td align="center"><b>Name</b></td>
                                                <td align="center"><b>EE ID</b></td>
                                                <td align="center"><b>Position</b></td>
                                                <td align="center"><b>Department</b></td>
                                                <td align="center"><b>Event</b></td>
                                            </tr>
                                            </thead>
                                            <tbody style="font-size: 11px;">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
             		</td>
             		<td width="20%" align="center" valign="top">
                        <table border="0" width="100%">
                            <tr>
                                <td>
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="well well-sm" style="background-color: #cce6ff !important; border-color: #2aabd2; color: black">
                                            <div class="row text-center">
                                                <label style="color: black"><u>Quick Links</u></label>
                                            </div>
                                            &bull;&nbsp;&nbsp;<a href="#" style="color: black" th:href="@{/duties}" th:target="_blank">Suitable Duties</a><br/>
                                            &bull;&nbsp;&nbsp;<a href="#" style="color: black" th:href="@{/event_report}" th:target="_blank">Event Report</a><br/>
                                            &bull;&nbsp;&nbsp;<a href="#" style="color: black" th:href="@{/performance_report}" th:target="_blank">PM Report</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <div class="col-md-8 col-md-offset-2">
                                        <div class="well well-sm" style="background-color: #cce6ff !important; border-color: #3e8f3e;">
                                            <div class="row text-center">
                                                <label style="color: black"><u>Trends</u></label>
                                            </div>
                                            <table border="0" width="100%" style="border-spacing: 5px;border-collapse: separate;">
                                                <tr>
                                                    <td><a href="#" th:href="@{/wcmc}" th:target="_blank"><button type="button" class="btn btn-success">WC | MC</button></a></td>
                                                </tr>
                                                <tr>
                                                    <td><button type="button" class="btn btn-success">UA | PA</button></td>
                                                </tr>
                                                <tr>
                                                    <td><button type="button" class="btn btn-success">UA | PH</button></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
             		</td>
             	</tr>
             </table>
        </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"/>

    <style type="text/css">
        .dropbtn {
            color: #337ab7;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            margin-left: 40px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: #337ab7;
            padding: 5px 5px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            text-decoration: underline;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }


    </style>

    <script th:inline="javascript">
        $(document).ready(function(){
            var _ctx = /*[[@{/}]]*/ 'context';

            var hrClearanceTable = $('#hrClearanceTable').DataTable({
                "ajax":         _ctx + "hrClearanceTable",
                "serverSide":   true,
                "processing": true,
                "pagingType":   "full",
                "searching":    true,
                "lengthChange": true,
                "pageLength": 10,
                "lengthMenu": [ 5, 10, 25, 50 ],
                "language": {
                    "info":         "Total _TOTAL_ entries",
                    "infoFiltered": "",
                    "infoEmpty":    "",
                    "infoPostFix":  "",
                    "processing": "<div class='loader'></div>"
                },
                "columnDefs": [ {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }, {
                    "targets": [6,7,8],
                    "visible": false
                }  ],
                "order": [ [ 1, 'asc' ] ],
                "columns": [
                    { "data": "id", render: function(data, type, row)
                        {
                            return row.counterNumber;
                        }
                    },
                    { "data": "employee.firstName", render: function(data, type, row)
                        {
                            return '<div class="dropdown"><a class="dropbtn">'+ row.employee.fullName +'</a>' +
                                        '<div class="dropdown-content">' +
                                            '<a href="'+_ctx + 'summary">View Employee Summary</a>' +
                                            '<a href="'+_ctx + 'event">Add Event</a>' +
                                            '<a href="'+_ctx +'employee/' + row.employee.id +'/performance">Add PM</a>' +
                                            '<a href="#">View Employee Record</a>' +
                                            '<a href="#">Add Leave</a>' +
                                        '</div>' +
                                    '</div>';
                        }
                    },
                    { "data": "employee.employeeNumber" },
                    { "data": "employee.position.name" },
                    { "data": "employee.department.name" },
                    { "data": "eventName" },
                    { "data": "employee.section.id" },
                    { "data": "employee.shift.id" },
                    { "data": "employee.fullName" }
                ]
            });

            var absentTable = $('#absentTable').DataTable({
                "ajax":         _ctx + "absentTable",
                "serverSide":   true,
                "processing": true,
                "pagingType":   "full",
                "searching":    true,
                "lengthChange": true,
                "pageLength": 10,
                "lengthMenu": [ 5, 10, 25, 50 ],
                "language": {
                    "info":         "Total _TOTAL_ entries",
                    "infoFiltered": "",
                    "infoEmpty":    "",
                    "infoPostFix":  "",
                    "processing": "<div class='loader'></div>"
                },
                "columnDefs": [ {
                    "targets": [0],
                    "searchable": false,
                    "orderable": false
                }, {
                    "targets": [6,7,8],
                    "visible": false
                } ],
                "order": [ [ 1, 'asc' ] ],
                "columns": [
                    { "data": "id", render: function(data, type, row)
                        {
                            return row.counterNumber;
                        }
                    },
                    { "data": "employee.firstName", render: function(data, type, row)
                        {
                            return '<div class="dropdown"><a class="dropbtn">'+ row.employee.fullName +'</a>' +
                                        '<div class="dropdown-content">' +
                                            '<a href="'+_ctx + 'summary/'+ row.employee.id +'">View Employee Summary</a>' +
                                            '<a href="'+_ctx + 'event">Add Event</a>' +
                                            '<a href="'+_ctx +'employee/' + row.employee.id +'/performance">Add PM</a>' +
                                            '<a href="#">View Employee Record</a>' +
                                            '<a href="#">Add Leave</a>' +
                                        '</div>' +
                                    '</div>';
                        }
                    },
                    { "data": "employee.employeeNumber" },
                    { "data": "employee.position.name" },
                    { "data": "employee.department.name" },
                    { "data": "eventName" },
                    { "data": "employee.section.id" },
                    { "data": "employee.shift.id" },
                    { "data": "employee.fullName" }
                ]
            });

            $("#sectionId").change(function() {
                if ($("#sectionId").val() != "") {
                    absentTable.columns(6).search($("#sectionId").val() + '+').draw();
                    hrClearanceTable.columns(6).search($("#sectionId").val() + '+').draw();
                } else {
                    absentTable.columns(6).search("").draw();
                    hrClearanceTable.columns(6).search("").draw();
                }
            });

            $("#shiftId").change(function() {
                if ($("#shiftId").val() != "") {
                    absentTable.columns(7).search($("#shiftId").val() + '+').draw();
                    hrClearanceTable.columns(7).search($("#shiftId").val() + '+').draw();
                } else {
                    absentTable.columns(7).search("").draw();
                    hrClearanceTable.columns(7).search("").draw();
                }
            });

            $("#searchNameId").keyup(function () {
                absentTable.columns(8).search($("#searchNameId").val()).draw();
                hrClearanceTable.columns(8).search($("#searchNameId").val()).draw();
            });

            $("#clearFilterId").click(function() {
                absentTable.columns(6).search("");
                absentTable.columns(7).search("");
                absentTable.columns(8).search("");
                absentTable.draw();

                hrClearanceTable.columns(6).search("");
                hrClearanceTable.columns(7).search("");
                hrClearanceTable.columns(8).search("");
                hrClearanceTable.draw();

                $("#shiftId,#sectionId,#searchNameId").val("");
            });


            $("#absentTable_filter,#hrClearanceTable_filter").css("display","none");
        });

    </script>
</body>
</html>