<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>

<body>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="../static/images/JBS_Transparent.png" th:src="@{'/images/JBS_Transparent.png'}" class="img-thumbnail" width="100" height="200"/>
                        </div>
                        <div class="col-md-10" style="margin-top: 10px;">
                            <h3 class="panel-title"><b>Add Performance Management Event</b></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <b>Name:</b>
                            <label class="normal" th:text="${employee.fullName}"/>
                        </div>
                        <div class="col-md-4">
                            <b>Employee ID:</b>
                            <label class="normal" th:text="${employee.employeeNumber}"/>
                        </div>
                        <div class="col-md-4">
                            <b>Site:</b>
                            <label class="normal" th:text="${employee.site.name}"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" th:if="${!performanceDto.isAuditVersion()}">
                    <div class="well" style="font-size:14px;background-color: #c3dbef !important; border-color: #2aabd2; color: white;margin-bottom: 5px;margin-top: -5px">
                        <div class="row text-center" style="margin-top: -15px">
                            <label style="color: black"><u>Quick Links</u></label>
                        </div>
                        <div class="row text-left">
                            <div class="col-md-6">
                                <label style="color: black">&bull;</label> <a href="#" style="color: black">Add Attendance Event</a>
                            </div>
                            <div class="col-md-6">
                                <label style="color: black">&bull;</label> <a href="#" style="color: black">Add Leave (Kronos)</a>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-md-6">
                                <label style="color: black">&bull;</label> <a href="#" style="color: black">View Employee Summary</a>
                            </div>
                            <div class="col-md-6">
                                <label style="color: black">&bull;</label> <a href="#" style="color: black">View Employee Record (EC)</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" th:if="${!performanceDto.isAuditVersion()}">
                    <form class="form-inline" style="margin-top: 1px">
                        <label>Search:</label>
                        <div class="form-group">
                            <input id="searchNameId" type="text" class="form-control" style="width: 140px;"/>
                            <span class="form-control glyphicon glyphicon-search input-sm borderless"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <form action="#" th:action="${performanceDto.isUpdate()} ?
                @{'/employee/' + ${employee.id} + '/performance/update/' + ${performanceDto.id}} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token} :
                @{'/employee/' + ${employee.id} + '/performance/create'} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token} " th:object="${performanceDto}"
              method="post" enctype="multipart/form-data">

            <input id="removedAttachmentsId" th:type="hidden" th:field="*{removedAttachments}"/>
            <input th:type="hidden" th:field="*{id}"/>
            <input th:type="hidden" th:field="*{totalAttachmentsPersisted}"/>

            <div class="panel-body body-background">
                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p>Please correct values in error below: </p>
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-4">
                        <div class="input-group" th:class="${#fields.hasErrors('parentCategoryId')} ? 'input-group has-error' : 'input-group'">
                            <label class="input-group-addon borderless no-background" style="padding-left: 0px"><label style="color: red">*</label> Category:</label>
                            <select id="parentCategoryId" class="form-control" th:field="*{parentCategoryId}" th:disabled="${performanceDto.isAuditVersion()}">
                                <option value="">-- Please Select --</option>
                                <option th:each="category : ${listCategory}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group" th:class="${#fields.hasErrors('categoryId')} ? 'input-group has-error' : 'input-group'">
                            <label class="input-group-addon borderless no-background"><label style="color: red">*</label> Sub Category:</label>
                            <select id="categoryId" class="form-control" th:field="*{categoryId}" th:disabled="${performanceDto.isAuditVersion()}">
                                <option value="">-- Please Select --</option>
                                <option th:each="category : ${listSubCategory}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group" th:class="${#fields.hasErrors('actionId')} ? 'input-group has-error' : 'input-group'">
                            <label class="input-group-addon borderless no-background"><label style="color: red">*</label> Action:</label>
                            <select id="actionId" class="form-control" th:field="*{actionId}" th:disabled="${performanceDto.isAuditVersion()}">
                                <option value="">-- Please Select --</option>
                                <option th:each="action : ${listAction}" th:value="${action.id}" th:text="${action.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background" style="padding-left: 0px">Template:</label>
                            <select id="letterTemplateId" class="form-control" th:field="*{letterTemplateId}" th:disabled="${performanceDto.isAuditVersion()}">
                                <option value="">-- Please Select --</option>
                                <option th:each="template : ${listLetterTemplate}" th:value="${template.id}" th:text="${template.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group" style="width: 100%" th:class="${#fields.hasErrors('startDate')} ? 'input-group has-error' : 'input-group'">
                            <label class="input-group-addon borderless no-background "><label style="color: red">*</label> Start Date:</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" th:field="*{startDate}" th:disabled="${performanceDto.isAuditVersion()}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group" style="width: 100%" th:class="${#fields.hasErrors('endDate')} ? 'input-group has-error' : 'input-group'">
                            <label class="input-group-addon borderless no-background"><label style="color: red">*</label> End Date:</label>
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" th:field="*{endDate}" th:disabled="${performanceDto.isAuditVersion()}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group" style="width: 100%" th:class="${#fields.hasErrors('startTime')} ? 'input-group has-error' : 'input-group'">
                            <label class="input-group-addon borderless no-background "><label style="color: red">*</label> Time:</label>
                            <div class='input-group date' id='datetimepicker3'>
                                <input type='text' class="form-control" th:field="*{startTime}" th:disabled="${performanceDto.isAuditVersion()}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background " style="padding-left: 0px">Issued By:</label>
                            <input type="text" class="form-control" th:field="*{issuedBy}" th:disabled="${performanceDto.isAuditVersion()}"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background ">Place:</label>
                            <input type="text" class="form-control" th:field="*{place}" th:disabled="${performanceDto.isAuditVersion()}"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background ">Attendees:</label>
                            <input type="text" class="form-control" th:field="*{attendee}" th:disabled="${performanceDto.isAuditVersion()}"/>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background " style="padding-left: 0px">Support Response:</label>
                            <select class="form-control" th:field="*{supportResponseId}" th:disabled="${performanceDto.isAuditVersion()}">
                                <option th:each="obj : ${listSupportResponse}" th:value="${obj.id}" th:text="${obj.value}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background ">Support Person:</label>
                            <input type="text" class="form-control" th:field="*{supportPerson}" th:disabled="${performanceDto.isAuditVersion()}"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background">Interpreter:</label>
                            <select class="form-control" th:field="*{interpreterId}" th:disabled="${performanceDto.isAuditVersion()}">
                                <option th:each="obj : ${listInterpreter}" th:value="${obj.id}" th:text="${obj.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group" th:class="${#fields.hasErrors('comment')} ? 'form-group has-error' : 'form-group'">
                            <label class="normal"><label style="color: red">*</label> Comments:</label>
                            <textarea class="form-control" rows="6" th:field="*{comment}" th:disabled="${performanceDto.isAuditVersion()}"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">&nbsp;</div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;margin-left: 10px;">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <input type="checkbox" th:field="*{isSupervisorReport}" th:disabled="${performanceDto.isAuditVersion()}"/>
                                    <label style="margin-left: -15px">Supervisor Report</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">&nbsp;</div>
                        </div>
                        <div class="row" th:if="${!performanceDto.isAuditVersion()}">
                            <div class="col-md-12">
                                <a href="#" th:onclick="'javascript:generateTemplate()'">
                                    <button type="button" class="btn btn-success">Generate Letter</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${!performanceDto.isAuditVersion()}">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon borderless no-background" style="padding-left: 0px">Attachment :</label>
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse&hellip; <input id="fileId" type="file" style="display: none;" multiple="true" th:field="*{files}"/>
                                </span>
                            </label>
                            <input id="fileNameId" type="text" class="form-control" readonly="true"/>
                            <a href="#" th:onclick="'javascript:clearFile()'" class="input-group-btn">
                                <button type="button" class="btn btn-info">Clear</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div th:id="'attachment'+${attachment.id}" class="row" th:each="attachment : ${performanceDto.getAttachments()}">
                    <div class="col-md-4">
                        <div class="input-group" style="margin-top: 15px" >
                            <a class="input-group-addon borderless no-background" style="text-align: left" href="#" th:href="@{/performance/download_attachment/} + ${attachment.id}" th:target="_blank" th:text="${attachment.documentName}"></a>
                            <button type="button" class="btn btn-info btn-sm" style="width: 35px;" th:if="${!performanceDto.isAuditVersion()}" th:onclick="'javascript:removeAttachment(' + ${attachment.id} +  ',attachment'+${attachment.id} + ')'">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="row" th:if="${!performanceDto.isAuditVersion()}" style="margin-top: 20px">
                    <div class="col-md-4">
                        <div class="well" style="background-color: #dca7a7 !important; border-color: #c9302c; color: white">
                            <div class="row text-center">
                                <label> UA(4) | AB(3) | PC(3) | PCN(2) </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-4">
                        <button type="button" class="btn btn-info" onclick="self.close()">Close</button>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-info" th:if="${!performanceDto.isAuditVersion()}">Save</button>
                    </div>
                </div>
                <div class="row" th:if="${!performanceDto.isAuditVersion()}">
                    <div class="col-md-12">
                        <label>
                            <a id="pmHistoryHead"><u>&lt;PM History&gt;</u></a>
                        </label>
                    </div>
                </div>
                <div id="pmHistoryBody" th:if="${!performanceDto.isAuditVersion()}">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon borderless no-background" style="padding-left: 0px">Action :</label>
                                <select id="historyActionId" class="form-control">
                                    <option value="">-- Please Select --</option>
                                    <option th:each="action : ${listActionBasedHistory}" th:value="${action.id}" th:text="${action.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon borderless no-background">Start :</label>
                                <div class='input-group date'>
                                    <input id='historyStartDatePicker' type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon borderless no-background">End :</label>
                                <div class='input-group date'>
                                    <input id='historyEndDatePicker' type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <select id="historyMonthId" class="form-control">
                                <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Months</option>
                                <option value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3 Months</option>
                                <option value="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6 Months</option>
                                <option value="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9 Months</option>
                                <option value="12">&nbsp;&nbsp;&nbsp;&nbsp;12 Months</option>
                                <option value="18">&nbsp;&nbsp;&nbsp;&nbsp;18 Months</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="historyTable" class="table table-bordered table-condensed table-hover">
                                    <thead>
                                        <tr class="success">
                                            <td class="text-center">PM ID</td>
                                            <td class="text-center">Action</td>
                                            <td class="text-center">Start Date</td>
                                            <td class="text-center">End Date</td>
                                            <td class="text-center">Time</td>
                                            <td class="text-center">Last Modified Date</td>
                                            <td class="text-center">Last Modified By</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${!performanceDto.isAuditVersion() && performanceDto.isUpdate()}">
                    <div class="col-md-12">
                        <label>
                            <a id="pmAuditHead"><u>&lt;Audit&gt;</u></a>
                        </label>
                    </div>
                </div>
                <div id="pmAuditBody" th:if="${!performanceDto.isAuditVersion() && performanceDto.isUpdate()}">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover">
                                    <thead>
                                        <tr class="success">
                                            <td class="text-center">#</td>
                                            <td class="text-center">PM ID</td>
                                            <td class="text-center">Action</td>
                                            <td class="text-center">Start Date</td>
                                            <td class="text-center">End Date</td>
                                            <td class="text-center">Time</td>
                                            <td class="text-center">Last Modified Date</td>
                                            <td class="text-center">Last Modified By</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="revision,iterationStatus  : ${performanceRevisions}" class="info">
                                        <td class="text-center" th:text="${iterationStatus.count}"></td>
                                        <td class="text-center"><a th:href="@{/} + 'performance/'+ ${revision.id} +'/revision/' + ${revision.revisionNumber}" th:text="${revision.id}" target="_blank"> </a></td>
                                        <td class="text-center"th:text="${revision.action.name} + ' (' +${revision.action.code} + ')'"></td>
                                        <td class="text-center"th:text="${#dates.format(revision.startDate, 'dd MMM yyyy')}"></td>
                                        <td class="text-center"th:text="${#dates.format(revision.endDate, 'dd MMM yyyy')}"></td>
                                        <td class="text-center"th:text="${#dates.format(revision.startTime, 'hh:mm aa')}"></td>
                                        <td class="text-center"th:text="${#dates.format(revision.lastUpdateAt, 'dd MMM yyyy hh:mm aa')}"></td>
                                        <td class="text-center"th:text="${revision.lastUpdateBy.fullName}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"/>

<script th:inline="javascript">
    function removeAttachment(attachmentId, element){
        var attachmentIds = [];

        var arrayIds = $("#removedAttachmentsId").val();
        if (arrayIds == "") {
            attachmentIds.push(attachmentId);
        } else {
            attachmentIds.push(arrayIds,attachmentId);
        }

        $("#removedAttachmentsId").val(attachmentIds);
        element.parentNode.removeChild(element);
    }

    function generateTemplate() {
        if ($("#letterTemplateId").val() != "") {
            var _ctx = /*[[@{/}]]*/ 'context';
            var employeeId = [[${employee.id}]];
            window.location.replace(_ctx + "employee/" + employeeId + "/performance/generate_letter/" + $("#letterTemplateId").val());
        } else {
            alert("You have to select the template")
        }
    }

    function clearFile() {
        document.getElementById('fileId').value= null;
        document.getElementById('fileNameId').value= '';
    }

    $(document).ready(function(){
        var _ctx = /*[[@{/}]]*/ 'context';
        var employeeId = [[${employee.id}]];

        var historyTable = $('#historyTable').on('preXhr.dt', function(e,settings,data){
            data.startDateFilter = $("#historyStartDatePicker").val();
            data.endDateFilter = $("#historyEndDatePicker").val();
            data.monthFilter = $("#historyMonthId").val();
        }).DataTable({
            "ajax":         _ctx + "performance/history/" + employeeId,
            "serverSide":   true,
            "processing": true,
            "pagingType":   "simple",
            "searching":    true,
            "lengthChange": false,
            "language": {
                "info":         "",
                "infoFiltered": "",
                "infoEmpty":    "",
                "infoPostFix":  "",
                "processing": "<div class='loader'></div>"
            },
            "columnDefs": [{
                "targets": [0,4,5,6],
                "orderable": false
            }],
            "columns": [
                { "data": "id", render: function(data, type, row)
                    {
                        return '<a href="' + _ctx + 'performance/'+ row.id +'">' + row.id + '</a>';
                    }
                },
                { "data": "action.id", render: function(data, type, row)
                    {
                        return row.action.name + ' (' + row.action.code + ')';
                    }
                },
                { "data": "startDate" },
                { "data": "endDate" },
                { "data": "startTime" },
                { "data": "lastUpdateAt" },
                { "data": "lastUpdateBy.fullName" }
            ],
            "rowCallback": function( row, data, index ) {
                    $(row).addClass('info text-center');
            }
        });

        $('#parentCategoryId').change( function() {
            $.getJSON('' + _ctx + 'performance/categories', {
                parentCategoryId : $(this).val(),
                ajax : 'true'
            }, function(data) {
                var html = '<option value="">-- Please Select --</option>';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                            + data[i].name + '</option>';
                }
                html += '</option>';

                $('#categoryId').html(html);
            });

            $.getJSON(_ctx + 'performance/actions', {
                parentCategoryId : $(this).val(),
                ajax : 'true'
            }, function(data) {
                var html = '<option value="">-- Please Select --</option>';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                            + data[i].name + '</option>';
                }
                html += '</option>';

                $('#actionId').html(html);
            });

            $('#letterTemplateIdId').html('<option value="">-- Please Select --</option>');
        });

        $('#actionId').change( function() {
            $.getJSON(_ctx + 'performance/letter_templates', {
                actionId : $(this).val(),
                ajax : 'true'
            }, function(data) {
                var html = '<option value="">-- Please Select --</option>';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                            + data[i].name + '</option>';
                }
                html += '</option>';

                $('#letterTemplateId').html(html);
            });
        });

        $("#historyActionId").change(function() {
            if ($("#historyActionId").val() != "") {
                historyTable.columns(1).search($("#historyActionId").val()).draw();
            } else {
                historyTable.columns(1).search("").draw();
            }
        });

        $('#datetimepicker1').datetimepicker({
            defaultDate: new Date(),
            format: 'DD MMM YYYY'
        });

        $('#datetimepicker2').datetimepicker({
            defaultDate: new Date(),
            format: 'DD MMM YYYY'
        });

        $('#datetimepicker3').datetimepicker({
            defaultDate: new Date(),
            format: 'LT'
        });

        $('#historyStartDatePicker').datetimepicker({
            format: 'DD MMM YYYY'
        }).on("dp.change", function (e) {
            $('#historyMonthId').val("");
            historyTable.draw();
        });

        $('#historyEndDatePicker').datetimepicker({
            format: 'DD MMM YYYY'
        }).on("dp.change", function (e) {
            $('#historyMonthId').val("");
            historyTable.draw();
        });

        $("#historyTable_paginate, #historyTable_filter").hide();

        $("#historyMonthId").change(function() {
            $('#historyStartDatePicker, #historyEndDatePicker').val("");
            historyTable.draw();
        });

        $("#pmHistoryHead").click(function(){
            $("#pmHistoryBody").toggle("slide");
        });
        $("#pmAuditHead").click(function(){
            $("#pmAuditBody").toggle("slide");
        });
    });

    $(function () {
        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function () {
            var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });
        });

    });
</script>
</body>
</html>