<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>

<body>
    <nav th:replace="fragments/header :: header"/>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <label>
                    Welcome Tito <br/>
                    Date : 06 February 2017
                </label>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option value="">Department</option>
                    <option value="">Finance</option>
                    <option value="">People Care</option>
                    <option value="">Marketing</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option value="">Section</option>
                    <option value="">Section A</option>
                    <option value="">Section B</option>
                    <option value="">Section C</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option value="">Shift</option>
                    <option value="">Shift 1</option>
                    <option value="">Shift 2</option>
                    <option value="">Shift 3</option>
                </select>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-link" style="margin-left: -10px">Clear Filters</button>
            </div>
            <div class="col-md-3">
                <form class="form-inline" style="margin-top: 1px">
                    <div class="form-group">
                        <label>Search:</label>
                        <input type="text" class="form-control" style="width: 50%"/>
                        <span class="form-control glyphicon glyphicon-search input-sm borderless"/>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-8">
                        <h4>HR Clearance</h4>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option value="">Department</option>
                            <option value="">Finance</option>
                            <option value="">People Care</option>
                            <option value="">Marketing</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-responsive table-condensed table-hover">
                                <thead>
                                <tr class="info">
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>EE ID</th>
                                    <th>Position</th>
                                    <th>Department</th>
                                    <th>Event</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="warning">
                                    <td>1</td>
                                    <td><a href="#" th:href="@{/summary}">Joe Blog</a></td>
                                    <td>1111</td>
                                    <td>Staff</td>
                                    <td>Finance</td>
                                    <td>-</td>
                                </tr>
                                <tr class="warning">
                                    <td>2</td>
                                    <td>Bill Damon</td>
                                    <td>2222</td>
                                    <td>Staff</td>
                                    <td>Finance</td>
                                    <td>-</td>
                                </tr>
                                <tr class="warning">
                                    <td>3</td>
                                    <td>Dedy Mulyadi</td>
                                    <td>3333</td>
                                    <td>Staff</td>
                                    <td>Marketing</td>
                                    <td>-</td>
                                </tr>
                                <tr class="danger">
                                    <td>4</td>
                                    <td>Simon yip</td>
                                    <td>4444</td>
                                    <td>Staff</td>
                                    <td>Marketing</td>
                                    <td>AB</td>
                                </tr>
                                <tr class="warning">
                                    <td>5</td>
                                    <td>Donnie Yan</td>
                                    <td>5555</td>
                                    <td>Manager</td>
                                    <td>IT</td>
                                    <td>-</td>
                                </tr>
                                <tr class="warning">
                                    <td>6</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="warning">
                                    <td>7</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="warning">
                                    <td>8</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="warning">
                                    <td>9</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="warning">
                                    <td>10</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Absent</h4>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option value="">Department</option>
                            <option value="">Finance</option>
                            <option value="">People Care</option>
                            <option value="">Marketing</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed table-hover">
                                <thead>
                                <tr class="info">
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>EE ID</th>
                                    <th>Position</th>
                                    <th>Department</th>
                                    <th>Event</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="warning">
                                    <td>1</td>
                                    <td>Joe Blog</td>
                                    <td>1111</td>
                                    <td>Staff</td>
                                    <td>Finance</td>
                                    <td>-</td>
                                </tr>
                                <tr class="warning">
                                    <td>2</td>
                                    <td>Bill Damon</td>
                                    <td>2222</td>
                                    <td>Staff</td>
                                    <td>Finance</td>
                                    <td>-</td>
                                </tr>
                                <tr class="success">
                                    <td>3</td>
                                    <td>Dedy Mulyadi</td>
                                    <td>3333</td>
                                    <td>Staff</td>
                                    <td>Marketing</td>
                                    <td>AB</td>
                                </tr>
                                <tr class="warning">
                                    <td>4</td>
                                    <td>Simon yip</td>
                                    <td>4444</td>
                                    <td>Staff</td>
                                    <td>Marketing</td>
                                    <td>-</td>
                                </tr>
                                <tr class="warning">
                                    <td>5</td>
                                    <td>Donnie Yan</td>
                                    <td>5555</td>
                                    <td>Manager</td>
                                    <td>IT</td>
                                    <td>-</td>
                                </tr>
                                <tr class="warning">
                                    <td>6</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="warning">
                                    <td>7</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="warning">
                                    <td>8</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="warning">
                                    <td>9</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="warning">
                                    <td>10</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="well" style="background-color: #122b40 !important; border-color: #2aabd2; color: white">
                    <div class="row text-center">
                        <label style="color: yellow"><u>Quick Links</u></label>
                    </div>
                    <ul style="margin-left: -35px">
                        <li><a href="#" style="color: white">Suitable Duties</a></li>
                        <li><a href="#" style="color: white">Add Task</a></li>
                        <li><a href="#" style="color: white">Service Anniversary</a></li>
                        <li><a href="#" style="color: white">Birthdays</a></li>
                    </ul>
                </div>
                <div class="well" style="background-color: #3c763d !important; border-color: #3e8f3e;">
                    <div class="row text-center">
                        <label><u>Alerts</u></label>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-warning">3 AB</button>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-warning">WC/MC</button>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-warning">UA | UA</button>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-warning">3 days</button>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-warning">UA | PH</button>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-warning">LS | LE</button>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-warning">Active Tasks</button>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-warning">Off Day vs Extra Day</button>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-warning">Overtime</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"/>
</body>
</html>