<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>

<body>
    <nav th:replace="fragments/header :: header"/>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Employee Summary</h3>
            </div>
            <div class="panel-body body-background">
                <div class="row">
                    <div class="col-md-1">
                        <img src="../static/images/none.jpeg" th:src="@{'/images/none.jpeg'}" class="img-thumbnail" width="100" height="200"/>
                    </div>
                    <div class="col-md-11">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                <tr>
                                    <td class="borderless"><b>First Name: </b>Joe</td>
                                    <td class="borderless"><b>Last Name: </b>Blog</td>
                                    <td class="borderless"><b>Gender: </b>M</td>
                                    <td class="borderless"><b>EE ID: </b>11112222</td>
                                    <td class="borderless"><b>DOB: </b>1978/12/12</td>
                                    <td class="borderless"><b>Mobile Phone: </b>041044711</td>
                                </tr>
                                <tr>
                                    <td class="borderless"><b>Address 1: </b>6/10 Smith Street</td>
                                    <td class="borderless"><b>Address 2: </b>Neutral Bay</td>
                                    <td class="borderless"><b>State: </b>NSW</td>
                                    <td class="borderless"><b>Postal Code: </b>2055</td>
                                    <td class="borderless"><b>Hire Date: </b>2016/12/12</td>
                                    <td class="borderless"><b>Plant: </b>Dinmoore</td>
                                </tr>
                                <tr>
                                    <td class="borderless"><b>Position: </b>Slicer</td>
                                    <td class="borderless"><b>EE Type: </b>Seasonal</td>
                                    <td class="borderless"><b>Trainee/Trainer: </b>Trainee</td>
                                    <td class="borderless"><b>Job Class: </b>4</td>
                                    <td class="borderless"><b>Shift: </b>1</td>
                                    <td class="borderless"><b>Roster: </b>1</td>
                                </tr>
                                <tr>
                                    <td class="borderless"><b>Department: </b>Finance</td>
                                    <td class="borderless"><b>Leave: </b>20 days</td>
                                    <td class="borderless"><b>Annual Leave: </b>20 days</td>
                                    <td class="borderless" colspan="2"><b>Personal Leave: </b>4 days</td>
                                    <td class="borderless"><b>Status: </b>Workers Comp</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well" style="background-color: #dca7a7 !important; border-color: #c9302c;">
                            <div class="row text-center">
                                <label style="color: yellow">Employee is currently on Attendance Monitoring</label>
                                <label style="color: black"> | </label>
                                <label style="color: white">Employee is currently on Suitable Duties</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well" style="background-color: #5bc0de !important; border-color: #2e6da4;">
                            <div class="row text-center">
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default btn-circle btn-lg">20</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default btn-circle btn-lg">2</button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-default btn-circle btn-lg">7</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default btn-circle btn-lg">1</button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-default btn-circle btn-lg">3</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default btn-circle btn-lg">12</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default btn-circle btn-lg">7</button>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-2">
                                    <label class="small">Planned Leave</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="small">Unplanned Leave</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="small">Disciplines</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="small">Injuries</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="small">LS | HE</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="small">Extra days</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="small">Unplanned Leave Days</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label><span class="glyphicon glyphicon-backward"/> Pay Perriod</label>
                    </div>
                    <div class="col-md-3 text-center">
                        <label>Amended Roster</label>
                    </div>
                    <div class="col-md-3 text-center">
                        <label>
                            <span class="glyphicon glyphicon-chevron-left"/>
                            <a href="#"><u>Kronous Calendar</u></a>
                            <span class="glyphicon glyphicon-chevron-right"/>
                        </label>
                    </div>
                    <div class="col-md-3 text-right">
                        <label><span class="glyphicon glyphicon-forward"/> Pay Perriod</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed table-hover">
                                <thead>
                                <tr style="background-color: #3e8f3e">
                                    <td class="text-center text-white">6 feb</td>
                                    <td class="text-center text-white">7 feb</td>
                                    <td class="text-center text-white">8 feb</td>
                                    <td class="text-center text-white">9 feb</td>
                                    <td class="text-center text-white">10 feb</td>
                                    <td class="text-center text-white">11 feb</td>
                                    <td class="text-center text-white">12 feb</td>
                                    <td class="text-center text-white">13 feb</td>
                                    <td class="text-center text-white">14 feb</td>
                                    <td class="text-center text-white">15 feb</td>
                                    <td class="text-center text-white">16 feb</td>
                                    <td class="text-center text-white">17 feb</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center success">Mon</td>
                                    <td class="text-center success">Tue</td>
                                    <td class="text-center success">Wed</td>
                                    <td class="text-center success">Thu</td>
                                    <td class="text-center success">Fri</td>
                                    <td class="text-center success">Sat</td>
                                    <td class="text-center success">Mon</td>
                                    <td class="text-center success">Sun</td>
                                    <td class="text-center success">Tue</td>
                                    <td class="text-center success">Wed</td>
                                    <td class="text-center success">Thu</td>
                                    <td class="text-center success">Fri</td>
                                </tr>
                                <tr>
                                    <td class="text-center success">RO</td>
                                    <td class="text-center success">RO</td>
                                    <td class="text-center success">PH</td>
                                    <td class="text-center success">-</td>
                                    <td class="text-center success">-</td>
                                    <td class="text-center success">-</td>
                                    <td class="text-center success">-</td>
                                    <td class="text-center success">-</td>
                                    <td class="text-center success">AL</td>
                                    <td class="text-center success">AL</td>
                                    <td class="text-center success">PH</td>
                                    <td class="text-center success">T</td>
                                </tr>
                                <tr>
                                    <t- class="text-center success">09.30-17.30</t->
                                    <td class="text-center success">09.30-17.30</td>
                                    <td class="text-center success">09.30-17.30</td>
                                    <td class="text-center success">09.30-17.30</td>
                                    <td class="text-center success">09.30-17.30</td>
                                    <td class="text-center success">09.30-17.30</td>
                                    <td class="text-center success">09.30-17.30</td>
                                    <td class="text-center success">09.30-17.30</td>
                                    <td class="text-center success">09.30-17.30</td>
                                    <td class="text-center success">09.30-17.30</td>
                                    <td class="text-center success">09.30-17.30</td>
                                    <td class="text-center success">09.30-17.30</td>
                                    <td class="text-center success">09.30-17.30</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"/>
</body>
</html>