<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/css/datatables.min.css" rel="stylesheet" media="screen" th:href="@{/css/datatables.min.css}"/>
    <link href="../../static/css/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
    <link href="../../static/css/custom.css" rel="stylesheet" media="screen" th:href="@{/css/custom.css}"/>
    <link href="../../static/css/bootstrap-datetimepicker-4.17.45.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap-datetimepicker-4.17.45.min.css}"/>

    <script src="../../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="../../static/js/moment-2.17.1.min.js" th:src="@{/js/moment-2.17.1.min.js}"></script>
    <script src="../../static/css/bootstrap-3.3.7-dist/js/bootstrap.min.js" th:src="@{/css/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    <script src="../../static/js/datatables.min.js" th:src="@{/js/datatables.min.js}"></script>
    <script src="../../static/js/jquery.spring-friendly.min.js" th:src="@{/js/jquery.spring-friendly.min.js}"></script>
    <script src="../../static/js/bootstrap-datetimepicker-4.17.45.min.js" th:src="@{/js/bootstrap-datetimepicker-4.17.45.min.js}"></script>
    <script src="../../static/js/date.format.js" th:src="@{/js/date.format.js}"></script>

</head>
</html>